*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 25px 30px;
}
#nav h3{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 5px;
}
#intro{
    height: 45%;
    width: 100%;
    padding-left: 40px;
    padding-top: 30px;
}
#intro> h1{
    font-size: 115px;
    line-height: 120px;
    letter-spacing: -3px;
}
#place{
    font-weight: 400;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 4px;
}
#place h3, #place h4{
    font-weight: 500;
}
#hero-image{
    height:100%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;
}
#about{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid black; */
}
#about h2{
    width: 60%;
    font-size: 80px;
    font-weight: 400;
    padding-bottom: 80px;
    padding-left: 60px;
    line-height: 85px;
    letter-spacing: -2px;
}
#about-part2{
    width: 35%;
    height: 370px;
    border-left: 2px solid black;
    font-size: 25px;
    padding-left: 80px;
    margin-bottom: 60px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#about h3{
    font-weight: 300;
    padding-top: 15px;
}
#icons{
    padding-bottom: 20px;
    /* position: absolute; */
    gap: 10px;
}
#icons i{
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 50%;
}
